.days-of-the-week {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-of-the-week {
  margin: 25px;
  padding: 10px;
  background-color: #0466c8;
  color: white;
  border: solid 2px #023e8a;
  border-radius: 3px;
  font-weight: bolder;
  font-size: xx-large;
  width: fit-content;

  &:hover {
    cursor: pointer;
    background-color: #90e0ef;
    box-shadow: 0px 0px 7px #023e8a;
  }
}

.selected-day {
  background-color: #90e0ef;
}

.to-center {
  display: flex;
  justify-content: center;
}

.appointments-configuration {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
}

.add-hour-range-button {
  margin: 25px;
  width: fit-content;
  background-color: #028090;
  color: white;
  border: solid 1.5px #05668d;
  font-size: x-large;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    background-color: #57cc99;
    box-shadow: 0px 0px 7px #023e8a;
  }
}

.hour-ranges {
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.hour-range {
  display: flex;
  align-items: flex-end;
  justify-content: baseline;
}

.hour-range-select {
  margin: 0 12.5px 12.5px 12.5px;

  select {
    width: 5vw;
  }
}

.delete-hour-range-button {
  margin: 0 12.5px 12.5px 12.5px;
  background-color: #b21e35;
  color: white;
  border: solid 2px #a11d33;
  font-size: large;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    background-color: #e01e37;
  }
}
