.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #a2d2ff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.nav-link {
  color: black;
}

.home-greetings {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.header {
  height: 10%;
}
